---
import Footer from '../layouts/Footer.astro';
import Header from '../layouts/Header.astro';
import Layout from '../layouts/Layout.astro';
import StoryContent from '../layouts/StoryContent.astro';
import StoryPictures from '../layouts/StoryPictures.astro';
import Homes from '../layouts/Homes.astro';
import Gallery from '../layouts/Gallery.astro';
import Features from '../layouts/Features.astro';
---

<Layout title="Nexter">
	<div class="l-sidebar">
    <button class="l-sidebar__btn"></button>
  </div>
  <Header />

  <div class="p-realtors">
    <h3 class="c-heading-3">Top 3 Realtors</h3>
    <div class="p-realtors__list">
      <img src={`${import.meta.env.BASE_URL}assets/images/realtor-1.jpeg`} alt="Realtor 1" class="p-realtors__img">
      <div class="p-realtors__details">
        <h4 class="c-heading-4 heading-4-light">Erik Feinman</h4>
        <p class="p-realtors__sold">245 hours sold</p>
      </div>
      <img src={`${import.meta.env.BASE_URL}assets/images/realtor-2.jpeg`} alt="Realtor 2" class="p-realtors__img">
      <div class="p-realtors__details">
        <h4 class="c-heading-4 heading-4-light">Kim Brown</h4>
        <p class="p-realtors__sold">212 hours sold</p>
      </div>
      <img src={`${import.meta.env.BASE_URL}assets/images/realtor-3.jpeg`} alt="Realtor 3" class="p-realtors__img">
      <div class="p-realtors__details">
        <h4 class="c-heading-4 heading-4-light">Toby Tamsey</h4>
        <p class="p-realtors__sold">198 hours sold</p>
      </div>
    </div>
  </div>
  
  <Features />
  <StoryPictures />
  <StoryContent />
  <Homes />
  <Gallery />
  <Footer />
</Layout>