<footer class="l-footer">
    <nav class="l-footer__nav">
      <ul class="l-footer__list">
        <li class="l-footer__item">
          <a href="" class="l-footer__link">Find your dream home</a>
        </li>
        <li class="l-footer__item">
          <a href="" class="l-footer__link">request proposal</a>
        </li>
        <li class="l-footer__item">
          <a href="" class="l-footer__link">Download home planner</a>
        </li>
        <li class="l-footer__item">
          <a href="" class="l-footer__link">Contact us</a>
        </li>
        <li class="l-footer__item">
          <a href="" class="l-footer__link">Submit your property</a>
        </li>
        <li class="l-footer__item">
          <a href="" class="l-footer__link">Come work with us</a>
        </li>
      </ul>
    </nav>
    <div class="l-footer__copyright">
      &copy; Copyright 2025 by Ryuta KogaFeel free to use this project for your own purposes. This does NOT apply if you plan to produce your own course tutorials based on this project.
    </div>
</footer>