  <div class="p-story__content">
    <h3 class="c-heading-3 c-heading-3--dark u-mb-sm">Happy Customers</h3>
    <h2 class="c-heading-2 c-heading-2--dark u-mb-md">&ldquo;The best decision of our lives&rdquo;</h2>
    <p class="p-story__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus. Quidem consequatur harum volupta!
    </p>
    <button class="c-button">Find your own home</button>
  </div>