
  <div class="p-story__pictures">
    <img src={`${import.meta.env.BASE_URL}assets/images/story-1.jpeg`} alt="Couple with new house" class="p-story__pictures--01">
    <img src={`${import.meta.env.BASE_URL}assets/images/story-2.jpeg`} alt="CNew house" class="p-story__pictures--02">
  </div>